// Specific CSS for your home-page
.home {
  height: 100vh;
  opacity: 95%;
  background: url('https://images.unsplash.com/photo-1603277578692-c699f37c67d3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80');
  background-size: cover;
  background-repeat: no-repeat;

}

.splash {
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.intro {
  padding-right: 15px;
  padding-bottom: 15px;
  border: 3px;
  border-style:double;
  padding: 65px;
  padding-top: 80px ;
  padding-bottom: 80px;
}

.btn-log {
  padding: 20px;
  color: #ff524d;
  font-size: large;
  background-color: white;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
}

.btn-log:hover{
  background-color: #97f9df;
  border-color: white;
  color: white;
}

.splash h1 {
  color: #ffffff;
}

.splash p {
  padding-top: 15px;
  padding-bottom: 80px;
  color: #ffffff;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 100vh;
}

.banner-padding-text {
  padding: 0% 10%;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  margin-bottom: 20px;

}

.banner p {
  font-size: 20px;
  color: white;
  padding-left: 25%;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
