// Specific CSS for your home-page
.landing h1, h2{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home {
  height: 100vh;
  background: url('https://avatars.githubusercontent.com/u/103183546?v=4')repeat;
}
