<div class="container-fluid">
  <div class="row home">
    <div class="col-sm-4 splash">
      <div class="intro">
        <h1>Pay Jam</h1>
        <p>Slogan for Sidney</p>
        <a class="btn-log"
          <%= link_to "Login Here", new_user_session_path unless user_signed_in? %>
          <%= link_to "Log out", destroy_user_session_path, :method => :delete if user_signed_in? %>>
        </a>
        <%# <a href=users/sign_in class="btn btn-lg active" role="button" aria-pressed="true">Login</a> %>
        <%# <button type="button" class="btn btn-default CTA">Login</button> %>
      </div>
    </div>
  </div>
</div>
