
<div class="container">
  <div class="row">
        <h1 class="tables"> Tables</h1>
  </div>
</div>

<div class="cards-container">
  <div class="row justify-content-center mx-2">
    <div class="col-12">
    <h3 class="tableclass border-bottom">Open tables</h3>
      <% @tabs.open.each do |tab| %>
        <div class="card-tables bold border bg-white">
          <div class="d-flex">
            <h5>Table <%= tab.table_number %></h5>
            <i class="fa fa-solid fa-circle" style="color: green; padding-left: 4px;"></i>
          </div>
            <%= link_to "View", tab_path(tab) %>
          </div>
      <% end %>

      <h3 class="tableclass border-bottom">Empty tables</h3>
      <% @tabs.closed.each do |tab| %>
        <div class="card-tables bold border bg-grey">
          <div class="d-flex">
            <h5>Table <%= tab.table_number %></h5>
            <i class="fa fa-solid fa-circle" style="color: red; padding-left: 4px;"></i>
          </div>
            <%= link_to "View", tab_path(tab) %>
          </div>


      <% end %>
    </div>
  </div>
</div>
