<div class="container">
  <div class="row">
        <h1 class="text-align-left"> Your Tables</h1>
        <p>Active......</p>
  </div>
</div>

<div class="cards-container">
  <div class="row justify-content-center mx-3">
    <div class="col-12">
      <% @tabs.each do |tab| %>
        <div class="d-flex justify-content-between">
          <p>Table <%= tab.table_number %></p>
          <p><%= tab.status %></p>
          <%= link_to 'View', tab_path(tab) %>
        </div>
      <% end %>
    </div>
  </div>
</div>
