<div class="container">
<div class="row justify-content-center">
      <h1>Tabs#index</h1>
      <p>Find me in app/views/tabs/index.html.erb</p>
      <h2>List of tables</h2>
</div>
</div>

<div class="container">
      <% @tabs.each do |tab| %>
        <ul>
          <li><%= tab.table_number %></li>
          <li><%= tab.status %></li>
          <li><%= link_to 'Show', tab_path(tab) %></li>
        </ul>
      <% end %>
</div>
