<div class="container my-5">
  <div class="row justify-content-center mx-2">
    <%= @svg.html_safe %>
  </div>
  <div class="row justify-content-center mx-2">
    <%= link_to 'Go to tab', tabs_path(7), class: 'btn-rounded btn btn-dark btn-small' %>
  </div>
</div>
