<h1>Tabs#show</h1>
<p>Find me in app/views/tabs/show.html.erb</p>

<div class="container">
  <div class="row justify-content-center">
    <% @tab.dishes.each do |dish| %>
    <tr>
      <td><%= dish.name %></td>
      <td> <%= dish.price %></td>
    </tr>
    <% end %>
    <%= link_to 'Add item', tab_dishes_path(@tab), class: "btn btn-dark" %>
  </div>
</div>
