
<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
    <h3> Welcome to the new restaurant page. Find me in /restaurants/new.html.erb</h1>
      <div class="text-center">
            <form class="new-restaurant-form" data-action="submit->restaurant#create">
              <input name="name" type="text" class="form-control" placeholder="Restaurant Name">
              <input name="address" type="text" class="form-control" placeholder="Restaurant Address">
              <input type="submit" class="btn btn-cta" value="Add your restaurant">
            </form>
        </div>
    </div>
  </div>
</div>
