<!-- app/views/payments/new.html.erb -->
<div class="container">
  <h1 class="tables text-start mb-0 fw-bold">Payment summary</h1>
  <hr class="my-3 mb-5">
  <%# <h5 class="text-muted my-4">Your total: <%= display_price(@bill.amount) </h5> %>
  <div class="d-flex justify-content-center mt-5">
    <div class="text-center mt-5">
      <div><h3>Your total</h3></div>
      <span class="fw-bold" style="font-size: 40px;"><%= display_price(@bill.amount) %></span>
    </div>
  </div>
</div>

<div class="container mb-3 position-absolute bottom-0">
  <div class="row justify-content-center mx-2 mt-5">
    <button id="pay" class="btn btn-primary card-rounded px-4">
      Continue to payment
    </button>
  </div>
</div>

<script src="https://js.stripe.com/v3/"></script>
<script>
  const paymentButton = document.getElementById('pay');
  paymentButton.addEventListener('click', () => {
    const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
    stripe.redirectToCheckout({
      sessionId: '<%= @bill.checkout_session_id %>'
    });
  });
</script>
