<!-- app/views/payments/new.html.erb -->
<div class="container">
  <div class="row py-4">
    <div class="col-md-3"></div>
    <div class="col">
      <h1>Checkout summary</h1>
      <p>Payment of Table <strong><%= @bill.tab.table_number %></strong> for <strong><%= display_price(@bill.amount) %></strong></p>
      <button id="pay" class="btn btn-primary">Pay</button>
      <script src="https://js.stripe.com/v3/"></script>
      <script>
        const paymentButton = document.getElementById('pay');
        paymentButton.addEventListener('click', () => {
          const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
          stripe.redirectToCheckout({
            sessionId: '<%= @bill.checkout_session_id %>'
          });
        });
      </script>
    </div>
  </div>
</div>
