.loginlogo {


  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 146px;
  height: 146px;
  padding-bottom: 15px;
}


.form-inputs {
  input {
    border: none;
    border-bottom: 1px solid gray;
    background: transparent;
  }

  form-check-input {
    border: 1px solid gray !important;
  }
}

// .password{
//   margin-bottom: 40px;
// }
