.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  border-radius: 30%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

.logonav {
  font-family: 'Manrope';

}


.favicon {
  width: 60px;
}
