.tableclass {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 42px;

  color: #77767D;
}


.overview {

  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 34px;

  color: #77767D;
}
